* {
  margin: 0;
  padding: 0;
}

#app {
  #taskTable {
    width: 50vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 15px #898A8A;
    #taskHeader {
      background-color: #4770B3;
      color: #ffffff;
      height: 50px;
      padding-left: 20px;
      padding-top: 5px;
    }
    #taskNav {
      padding: 13px;
      background-color: #D1D1D1;
      .plusIcon {
        color: green;
        vertical-align: middle;
        margin-right: 10px;
      }
      .inputForm {
        width: 75%;
        height: 38px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        display: inline-block;
      }
    }
    table {
      thead {
        display: none;
      }
      tr:hover {
        background-color: #FCFED5;
      }
      td {
        display: table-cell;
        vertical-align: middle;
      }
      #firstColumn {
        padding-left: 0 !important;
        padding-right: 0 !important;
        white-space: normal;
        border-right: 6px double #F4E8DB;
        vertical-align: inherit;
        width: 60px;
        div {
          margin: auto;
          width: 50%;
        }
      }
      td:nth-child(2) {
        white-space: normal;
        border-right: 1px solid #ddd;
        width: 120px;
        #datePicker:hover {
          cursor: pointer;
        }
      }
      td:nth-child(3) {
        white-space: normal !important;
        border-right: 1px solid #ddd;
        word-wrap: break-word;
      }
      #forthColumn {
        width: 120px;
        padding-left: 0 !important;
        padding-right: 0 !important;
        color: #979798;
        div {
          margin: auto;
          width: 80px;
          .editIcon {
            margin-right: 15px;
          }
          .material-icons:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  #toDoBtn {
    margin: auto;
    width: 140px;
  }
  .grey {
    color: rgb(120, 119, 119);
  }
  .white {
    color: white;
  }
}