* {
  margin: 0;
  padding: 0;
}

#app {
  #taskTable {
    width: 46vw;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 15px #898A8A;
    #taskHeader {
      background-color: #4770B3;
      color: #ffffff;
      height: 50px;
      padding-left: 20px;
      padding-top: 5px;
      button {
        border: none;
        background: none;
      }
      button:focus {
        outline: none;
        border: none;
      }
      .glyphicon-calendar {
        font-size: 1.3em;
        color: #284266;
      }
    }
    #taskNav {
      width: 100%;
      padding: 13px;
      height: 60px;
      background-color: #D1D1D1;
      .glyphicon-plus {
        float: left;
        font-size: 1.8em;
        padding-top: 5px;
        padding-right: 15px;
        padding-left: 5px;
        color: #599273;
      }
      .inputForm {
        width: 80%;
        height: 38px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        display: inline-block;
      }
    }
    table {
      tr:hover {
        background-color: #FCFED5;
      }
      th:nth-child(1) {
        width: 4vw;
      }
      th:nth-child(2) {
        width: 7vw;
      }
      th:nth-child(4) {
        width: 6vw;
      }
      td {
        display: table-cell;
        vertical-align: middle;
      }
      td:first-child {
        white-space: normal;
        border-right: 6px double #F4E8DB;
        vertical-align: inherit;
        width: 8%;
        input {
          margin: auto;
        }
      }
      td:nth-child(2) {
        white-space: normal;
        border-right: 1px solid #ddd;
        width: 15%;
      }
      td:nth-child(3) {
        white-space: normal !important;
        border-right: 1px solid #ddd;
        word-wrap: break-word;
      }
      td:nth-child(4) {
        width: 15%;
        text-align: center;
        color: #979798;
      }
    }
  }
  #toDoBtn {
    margin: auto;
    width: 10vw;
  }
  .grey {
    color:rgb(120, 119, 119);
  }
  .white {
    color: white;
  }
}