* {
  margin: 0;
  padding: 0; }

#app #taskTable {
  width: 50vw;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 15px #898A8A; }
  #app #taskTable #taskHeader {
    background-color: #4770B3;
    color: #ffffff;
    height: 50px;
    padding-left: 20px;
    padding-top: 5px; }
  #app #taskTable #taskNav {
    padding: 13px;
    background-color: #D1D1D1; }
    #app #taskTable #taskNav .plusIcon {
      color: green;
      vertical-align: middle;
      margin-right: 10px; }
    #app #taskTable #taskNav .inputForm {
      width: 75%;
      height: 38px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      display: inline-block; }
    #app #taskTable #taskNav #addTaskBtn {
      background-color: #4CAF50 !important; }
  #app #taskTable table thead {
    display: none; }
  #app #taskTable table tr:hover {
    background-color: #FCFED5; }
  #app #taskTable table td {
    display: table-cell;
    vertical-align: middle; }
  #app #taskTable table #firstColumn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    white-space: normal;
    border-right: 6px double #F4E8DB;
    vertical-align: inherit;
    width: 60px; }
    #app #taskTable table #firstColumn div {
      margin: auto;
      width: 50%; }
  #app #taskTable table td:nth-child(2) {
    white-space: normal;
    border-right: 1px solid #ddd;
    width: 120px; }
    #app #taskTable table td:nth-child(2) #datePicker:hover {
      cursor: pointer; }
  #app #taskTable table td:nth-child(3) {
    white-space: normal !important;
    border-right: 1px solid #ddd;
    word-wrap: break-word; }
  #app #taskTable table #forthColumn {
    width: 120px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #979798; }
    #app #taskTable table #forthColumn div {
      margin: auto;
      width: 80px; }
      #app #taskTable table #forthColumn div .editIcon {
        margin-right: 15px; }
      #app #taskTable table #forthColumn div .material-icons:hover {
        cursor: pointer; }

#app #toDoBtn {
  margin: auto;
  width: 140px;
  background-color: #7887AB !important; }

#app .grey {
  color: #787777; }

#app .white {
  color: white; }
